// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2025 Codasip GmbH
 *
 * A730 Hobgoblin FPGA vcu118 base description. This dts includes all the
 * hardware that is dependent on the board itself. So things like DDR,
 * buttons, LEDS, etc go here. Components that are optional or configurable
 * will be described in the board dts itself.
 *
 */

/ {
	ddr: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x1 0x00000000>;
	};
};

&soc {
	uart1: serial@10110000 {
		compatible = "xlnx,xps-uartlite-1.00.a";
		reg = <0x10110000 0x10>;
		interrupts-extended = <&plic 2>;
		current-speed = <115200>;
		xlnx,data-bits = <8>;
		xlnx,use-parity = <0>;
	};
};

/*
 * The on board Ethernet on the VCU118 uses an SGMII interface, so it cannot
 * be changed to an Ethernet lite style of system, so it is included here in
 * the base dtsi
 */

#include "hobgoblin2-axi-emac.dtsi"

/*
 * Uses a TI dp83867 phy in SGMII mode. The RXCTRL pin is not strapped which
 * results in an invalid configuration, so we need the quirk. The AXI emac
 * only supports synchronous operation, it does not do clock recovery, so we
 * need the clock which is not on by default.
 *
 * Phy address 1 is actually the phy that does an GMII to SGMII conversion
 * inside the Ethernet block itself.
 */

&axi_ethernet {
	phy-mode = "sgmii";
};

&phy0 {
	reg = <3>;
	ti,dp83867-rxctrl-strap-quirk;
	ti,sgmii-ref-clock-output-enable;
};


/*
 * We have to have the FMC card anyway on the VCU118 to get an SD card, so we
 * may as well include the Ethernet in the base as well.
 */
#include "hobgoblin2-axi-emac-fmc.dtsi"


&soc {
	/* Main board I2C chain */
	i2c_mboard: i2c_mboard@10400000 {
		compatible = "xlnx,axi-iic-2.1";
		clocks = <&clk_100m>;
		interrupts-extended = <&plic 6>;
		reg = < 0x10400000 0x1000 >;
	};

	/* FMC Lite connected I2c bus */
	i2c_fmclite: i2c_fmclite@10410000 {
		compatible = "xlnx,axi-iic-2.1";
		clocks = <&clk_100m>;
		interrupts-extended = <&plic 20>;
		reg = < 0x10410000 0x1000 >;
	};
};


/*
 * Main I2C chain on motherboard, all I2c chips are hooked up via a pair of
 * I2C multiplexor chips, so there are a lot of busses!
 */
&i2c_mboard {
	#address-cells = <1>;
	#size-cells = <0>;

	/* First multiplexor */
	i2c-mux-0@74 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "nxp,pca9548";
		reg = <0x74>;

		/* SI570 programmable clock generator */
		i2c_user_si570_1: i2c@0  {
			reg  = <0>;
		};

		/* Bus 1 N/C */

		/* Goes to QSFP 1 */
		i2c_qsfp1: i2c@2  {
			reg  = <2>;
		};

		/* Goes to QSFP 2  */
		i2c_qsfp2: i2c@3  {
			reg  = <3>;
		};

		/* SI5328 clock multiplier - sync Ethernet */
		i2c_si5328: i2c@4  {
			reg  = <4>;
		};

		/* SI570 programmable clock generator */
		i2c_user_si570_0: i2c@5  {
			reg  = <5>;
		};

		/* FPGA system monitor */
		i2c_sysmon: i2c@6  {
			reg  = <6>;
		};

		/* Firefly connector */
		i2c_firefly: i2c@7 {
			reg = <7>;
		};
	};
	/* Second multiplexor */
	i2c-mux-1@75 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "nxp,pca9548";
		reg = <0x75>;

		/* Power management, MAX20571 */
		i2c_pmbus: i2c@0  {
			reg  = <0>;
		};

		/* Connected to Opsero PCIe board usually */
		i2c_fmcp_hspc: i2c@1  {
			reg  = <1>;

		};

		/* Nothing here as FMC Lite uses wrong pins */
		i2c_fmcp_hpc1: i2c@2  {
			reg  = <2>;
		};

		/* On board EEPROM, holds MAC address */
		i2c_eeprom: i2c@3  {
			#address-cells = <1>;
			#size-cells = <0>;
			reg  = <3>;

			vcu118_eeprom: eeprom@54 {
				compatible = "atmel,24c08";
				reg = <0x54>;
				read-only;

				#address-cells = <1>;
				#size-cells = <1>;
				/* Mac address at offset 0x20 */
				vcu118_macaddr: macaddr@20 {
					reg = <0x20 0x6>;
				};
			};
		};

		/* Power management, INA226 */
		i2c_ina_pmbus: i2c@4  {
			reg  = <4>;
		};

		/* SI570 programmable clock generator */
		i2c_user_si570_2: i2c@5  {
			reg  = <5>;
		};

		/* Bus 6 and 7 N/C */
	};
};

/* Mac address comes from on board EEPROM */
&axi_ethernet {
	nvmem-cells = <&vcu118_macaddr>;
	nvmem-cell-names = "mac-address";
};

/*
 * I2C bus connected directly to FMC connector. This is used for the FMCLite
 * board which unfortunately does not use the standard FMC pins for the I2c
 * bus.
 */
&i2c_fmclite {
	#address-cells = <1>;
	#size-cells = <0>;
	fmc_eeprom: eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		size = <8192>;
		pagesize = <32>;
		read-only;

		#address-cells = <1>;
		#size-cells = <1>;
		/* Mac address at offset 0xc */
		fmc_macaddr: macaddr@c {
			reg = <0x0c 0x6>;
		};
	};
};


/* Mac address comes from on board EEPROM */
&axi_ethernet_fmc {
	nvmem-cells = <&fmc_macaddr>;
	nvmem-cell-names = "mac-address";
};

/ {
	/*
	 * Which Ethernet device is which is board specific, so this
	 * information belongs here rather than in the ethernet dt files
	 */
	aliases {
		ethernet0 = &axi_ethernet;
		ethernet1 = &axi_ethernet_fmc;
	};
};

#include "dt-bindings/input/input.h"

/ {
	gpio-keys {
		compatible = "gpio-keys";

		key-enter {
			label = "BTNC";
			linux,code = <KEY_ENTER>;
			gpios = <&gpio_io 16 GPIO_ACTIVE_HIGH>;
		};

		key-down {
			label = "BTND";
			linux,code = <KEY_DOWN>;
			gpios = <&gpio_io 17 GPIO_ACTIVE_HIGH>;
		};

		key-left {
			label = "BTNL";
			linux,code = <KEY_LEFT>;
			gpios = <&gpio_io 18 GPIO_ACTIVE_HIGH>;
		};

		key-right {
			label = "BTNR";
			linux,code = <KEY_RIGHT>;
			gpios = <&gpio_io 19 GPIO_ACTIVE_HIGH>;
		};

		key-up {
			label = "BTNU";
			linux,code = <KEY_UP>;
			gpios = <&gpio_io 20 GPIO_ACTIVE_HIGH>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "LD0";
			gpios = <&gpio_io 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		led-1 {
			label = "LD1";
			gpios = <&gpio_io 1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};

		led-2 {
			label = "LD2";
			gpios = <&gpio_io 2 GPIO_ACTIVE_HIGH>;
		};

		led-3 {
			label = "LD3";
			gpios = <&gpio_io 3 GPIO_ACTIVE_HIGH>;
		};

		led-4 {
			label = "LD4";
			gpios = <&gpio_io 4 GPIO_ACTIVE_HIGH>;
		};

		led-5 {
			label = "LD5";
			gpios = <&gpio_io 5 GPIO_ACTIVE_HIGH>;
		};

		led-6 {
			label = "LD6";
			gpios = <&gpio_io 6 GPIO_ACTIVE_HIGH>;
		};

		led-7 {
			label = "LD7";
			gpios = <&gpio_io 7 GPIO_ACTIVE_HIGH>;
		};
	};
};
